
#container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
/*    border: 0.1px solid aquamarine;*/
}

.square {

    border: 0.02px solid #000000;
    justify-content: space-evenly;
}

